.project-members-title {
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color;
}

.member {
  &.is-overriden {
    .btn-ldap-override {
      display: none!important;
    }
  }

  .list-item-name {
    @media (min-width: $screen-sm-min) {
      float: left;
      width: 50%;
    }

    strong {
      font-weight: 600;
    }
  }

  .controls {
    @media (min-width: $screen-sm-min) {
      display: -webkit-flex;
      display: flex;
      width: 400px;
      max-width: 50%;
    }
  }

  .form-horizontal {
    margin-top: 5px;

    @media (min-width: $screen-sm-min) {
      display: -webkit-flex;
      display: flex;
      width: 100%;
      margin-top: 3px;
    }
  }

  .btn-remove {
    width: 100%;

    @media (min-width: $screen-sm-min) {
      width: auto;
    }
  }
}

.member-form-control {
  @media (max-width: $screen-xs-max) {
    padding: 5px 0;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $screen-sm-min) {
    width: 50%;
  }

  .dropdown-menu-toggle {
    width: 100%;
  }
}

.member-access-text {
  margin-left: auto;
  line-height: 43px;
}

.member.existing-title {
  @media (min-width: $screen-sm-min) {
    float: left;
  }
}

.member-search-form {
  position: relative;

  @media (min-width: $screen-sm-min) {
    float: right;
  }

  .dropdown {
    width: 100%;
    margin-top: 5px;

    .dropdown-menu-toggle {
      vertical-align: middle;
      width: 100%;
    }

    @media (min-width: $screen-sm-min) {
      margin-top: 0;
      width: 155px;
    }
  }

  .form-control {
    width: 100%;
    padding-right: 35px;

    @media (min-width: $screen-sm-min) {
      width: 350px;
    }

    &.input-short {
      @media (min-width: $screen-md-min) {
        width: 170px;
      }

      @media (min-width: $screen-lg-min) {
        width: 210px;
      }
    }
  }
}

.member-search-btn {
  position: absolute;
  right: 4px;
  top: 0;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  color: $gray-darkest;
  background: transparent;
  border: 0;
  outline: 0;

  @media (min-width: $screen-sm-min) {
    right: 160px;
  }
}

.members-ldap {
  -webkit-align-self: center;
  align-self: center;
  height: 100%;
  margin-right: 10px;
  margin-left: -49px;
}

.alert-member-ldap {
  background-color: $ldap-members-override-bg;

  @media (min-width: $screen-sm-min) {
    line-height: 40px;
  }

  > p {
    float: left;
    margin-bottom: 10px;
    color: $orange-normal;

    @media (min-width: $screen-sm-min) {
      padding-left: 55px;
      margin-bottom: 0;
    }
  }

  .controls {
    width: 100%;

    @media (min-width: $screen-sm-min) {
      width: auto;
    }
  }
}

.btn-ldap-override {
  width: 100%;

  @media (min-width: $screen-sm-min) {
    margin-left: 10px;
    width: auto;
  }
}
