- page_title "Members"

- if membership_locked?
  .alert.alert-warning
    Adding new users is disabled at group level

.project-members-page.prepend-top-default
  %h4.project-members-title.clearfix
    Members
    - if can?(current_user, :admin_project_member, @project) && !membership_locked?
      = link_to "Import", import_namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-default pull-right hidden-xs", title: "Import members from another project"
  - if can?(current_user, :admin_project_member, @project) && !membership_locked?
    .project-members-new.append-bottom-default
      %p.clearfix
        Add new user to
        %strong= @project.name
      = render "new_project_member"

      = render 'shared/members/requests', membership_source: @project, requesters: @requesters

  .append-bottom-default.clearfix
    %h5.member.existing-title
      Existing users and groups
    = form_tag namespace_project_project_members_path(@project.namespace, @project), method: :get, class: 'form-inline member-search-form'  do
      .form-group
        = search_field_tag :search, params[:search], { placeholder: 'Find existing members by name', class: 'form-control', spellcheck: false }
        %button.member-search-btn{ type: "submit", "aria-label" => "Submit search" }
          = icon("search")
        = render 'shared/members/sort_dropdown'
  - if @group_links.any?
    = render 'groups', group_links: @group_links

  = render 'team', members: @project_members
  = paginate @project_members, theme: "gitlab"
